body {
  font-family: 'Eupetcal', sans-serif;
  background: linear-gradient(135deg, #ffffff, #a78bfa);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.bloco-imagens {
  display: flex;
  flex-direction: column;
  gap: 110px;
  margin-top: 98px;
}

.imagem {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.texto {
  flex: 1;
  padding: 20px;
  color: #000000;
  line-height: 1.6;
}
.texto p {
  border: 2px solid #7c3aed;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  color: #000;
}

.texto h2 {
  margin-top: 2px;
  margin-bottom: 15px;
  color: #000000;
  font-size: 35px;
  color:#2f1756;
}